<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body class="bg-theme bg-theme9">

    <!-- start loader -->
    <!-- <div id="pageloader-overlay" class="visible incoming">
        <div class="loader-wrapper-outer">
            <div class="loader-wrapper-inner">
                <div class="loader"></div>
            </div>
        </div>
    </div> -->
    <!-- end loader -->

    <!-- Start wrapper-->
    <div id="wrapper">

        <app-container h1_title='m2'></app-container>

        <div class="clearfix"></div>

        <div class="content-wrapper">
            <div class="container-fluid">

                <!--Start Dashboard Content-->

                <div class="row">
                </div>

                

                <!--End Row-->

                <!--End Dashboard Content-->
                <!--start overlay-->
                <div class="overlay toggle-menu"></div>
                <!--end overlay-->

            </div>
            <!-- End container-fluid-->

        </div>
        <!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->


    </div>
    <!--End wrapper-->


    <!-- <ng-template #createPair>
        <div class="modal-header">
            <h5 class="modal-title">Tính Năng</h5>
            <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="input-1">Tên viết tắt</label>
                <input [(ngModel)]="refTable.Description" style="margin-left: 10px;padding: 5px;width: 180px;"
                    type="text" placeholder="Mô tả">
            </div>
            <div class="form-group">
                <label for="input-1">Tên viết tắt</label>
                <input [(ngModel)]="refTable.Description" style="margin-left: 10px;padding: 5px;width: 180px;"
                    type="text" placeholder="Mô tả">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modalRef.hide()">
                <i class="fa fa-times"></i>
                Hủy</button>
            <button type="button" class="btn btn-success" (click)="modalRef.hide()">
                <i class="fa fa-check-square-o"></i>
                Xác nhận</button>
        </div>
    </ng-template> -->

</body>

</html>