<!-- WARNING ALERT -->
<!-- <div id="ast-alt-4" class="ast-alert" style="display: block;">
    <div class="ast-alertContent">
        <div class="ast-alertHeader ast-theme-yellow">
            <h3>CHÚ Ý</h3>
            <span onclick="document.getElementById('ast-alt-4').style.display='none'"
                (click)="onNoClick()">&times;</span>
        </div>
        <div class="ast-alertBody ast-theme-l5">
            <p>Thông tin nhập trong quá trình thao tác vừa rồi sẽ không được lưu lại nếu thoát</p>
        </div>
    </div>
</div> -->